/* * {
  color: rgb(0, 255, 106) !important;
}

.persistant-player {
  display: none !important;
} */

/* .cool-extension .simplebar-content {
  background-color: red !important;
}
 */

.overrider {
  background-color: #ce1919 !important;
}

body.dark-theme {
  background-color: #ce1919 !important;
}


/* 
.post-text {
  color: rgb(39, 1, 255);
} */


/* #cool-extension .tw-root--theme-dark body {
  background-color: #ce1919 !important;
}
 */

